/* .App{
    background-image: url('./images/bg2.png');
    background-size: cover;
    position: relative;
}
.App::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
} */